.title{ font-family:Verdana; margin-left: 80px;}

.description{ width: 500px; margin-left:80px;margin-top: 50px;font-family: cursive; color:#7AC5CD; text-decoration:underline; background-color:yellow;}
.app{  margin-left:80px;}
.welcome{margin-left: 50px; }